*{
  margin: 0px;
  padding: 0px;
  /* hide over flow in x direction */
  overflow-x: hidden;
   /* diplay in viewport */
   box-sizing: border-box;
   font-family: popins  ;
}
/* box  */
.condainer{
 background-color: #ecf0f3;
 border-radius: 15px;
 box-shadow: 13px 13px 20px #cbced1,-13px -13px 20px #ffff;

}
/* box shadow  */
.shadowstyle{
              border: hidden;
              border-radius: 8px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #fff;
}
/* font style */
.font{
  color: #666;
  
}
.font.marker{
  font-family: "Kanit", sans-serif;
  font-weight: 70;
  font-style: italic;
  
}
